.breadcrumbs {
    margin-bottom: 20px;
    margin-left: 10px;
}

.breadcrumbs__list {
    display: flex;
    column-gap: 30px;

    font-family: var(--secondfont);

    &--center {
        justify-content: center;
    }
}

.breadcrumbs__item {
    position: relative;

    &:not(:first-of-type)::before {
        content: '';
        display: block;
        width: 5px;
        height: 5px;

        position: absolute;
        top: 50%;
        left: -17px;
        transform: translateY(-50%);

        background-color: #C4C4C4;
        border-radius: 50%;
    }

    &:first-of-type {
        a {
            color: var(--black);
        }

        &:before {
            width: 8px;
            height: 8px;
            content: "";

            position: absolute;
            top: 50%;
            left: -12px;
            z-index: 1;

            border: solid var(--black);
            border-width: 0 2px 2px 0;
            transform: rotate(135deg) translateY(50%);
        }
    }
}

.breadcrumbs__link {
    font-size: 1.3rem;
    color: var(--gray);
    line-height: 1.2;

    @include breakpoint(576px) {
        font-size: 1.1rem;
    }

    &:hover {
        text-decoration: underline;
    }
}