.section {
    margin-bottom: 120px;

    @include breakpoint(576px) {
        margin-bottom: 65px;
    }

    &--news {
        padding-top: 120px;

        @include breakpoint(576px) {
            padding-top: 65px;
        }
    }
}

.section__header {
    margin-bottom: 30px;

    text-align: center;

    &--catalog {
        margin-bottom: 40px;
    }
}

.section__title {
    font-size: 2.8rem;
    color: var(--black);

    @include breakpoint(576px) {
        font-size: 2.4rem;
    }
}