<footer class="footer">
    <div class="footer__wrapper">
        <div class="footer__logo">
            <img class="header__logo__img img" src="assets/images/logo.svg" alt="Pluto">
        </div>
        <ul class="footer__nav">
            <li class="footer__item">
                <a class="footer__link" href="#">О нас</a>
            </li>
            <li class="footer__item">
                <a class="footer__link" href="#">Услуги</a>
            </li>
            <li class="footer__item">
                <a class="footer__link" href="delivery.html">Доставка и Оплата</a>
            </li>
            <li class="footer__item">
                <a class="footer__link" href="blog.html">Блог</a>
            </li>
            <li class="footer__item">
                <a class="footer__link" href="#">Помощь</a>
            </li>
            <li class="footer__item">
                <a class="footer__link" href="contacts.html">Контакты</a>
            </li>
        </ul>
        <div class="footer__address">
            <div class="footer__social__logo">
                <a href="#" target="_blank">
                    <img class="img" src="assets/images/inst-logo.svg" alt="Instagram">
                </a>
            </div>
            <div class="footer__address__item">
                <h3 class="footer__title">Магазин</h3>
                <address class="address">
                    <a class="address__link" href="#">Красноярск ул. 9 мая 77 ТРЦ «Планета»</a>
                    <a class="address__link" href="tel:+7(391)205-09-77">+7 (391) 205-09-77</a>
                </address>
            </div>
            <div class="footer__address__item">
                <h3 class="footer__title">Шоурум</h3>
                <address class="address">
                    <a class="address__link" href="#">Красноярск ул. 9 мая 77 ТРЦ «Планета»</a>
                    <a class="address__link" href="tel:+7(391)205-09-77">+7 (391) 205-09-77</a>
                </address>
            </div>
        </div>
    </div><!-- /.footer__wrapper -->

    <div class="footer__copyright container">
        <div class="footer__copyright__link">&#169; 2022 «Плуто» Все права защищены</div>
        <a class="footer__copyright__link" href="#">Карта сайта</a>
        <a class="footer__copyright__link" href="#">Политика обработки персональных данных</a>
        <div class="footer__copyright__link">
            <span>Разработка и дизайн:</span>
            <a href="#" target="_blank">
                <img class="footer__copyright__logo img" src="assets/images/copyright-logo.svg" alt="Cyber Nevod">
            </a>
        </div>
    </div>
</footer><!-- /.footer -->